{% extends 'university/layout.html' %}


{% block body %}



    {% for faculty in faculties %}
        <div class="card text-right">
            <div class="card-header">
                <h3 style="display: inline-flex">
                    {{ faculty.name }}
                </h3>
                <a href="{% url 'add_course' faculty_id=faculty.id %}" class="btn btn-primary float-left m-2">افزودن درس</a>
                <a href="{% url 'add_student' faculty_id=faculty.id %}" class="btn btn-primary float-left m-2">افزودن دانشجو</a>
                <a href="{% url 'add_student' faculty_id=faculty.id %}" class="btn btn-primary float-left m-2">افزودن استاد</a>
                <a href="{% url 'add_student' faculty_id=faculty.id %}" class="btn btn-primary float-left m-2">افزودن کلاس</a>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>واحد های ارایه شده</th>
                        <th>اطلاعات دانشکده</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div id="accordion-{{ faculty.id }}">
                                {% for course in faculty.course.all %}

                                    <div class="card">
                                        <div class="card-header" id="{{ course.id }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                        data-target="#collapse-{{ course.id }}" aria-expanded="true"
                                                        aria-controls="collapse-{{ course.id }}">
                                                    {{ course.name }}
                                                </button>
                                                <a href="{% url 'course' course.id %}" class="btn btn-primary">اطلاعات
                                                    بیشتر</a>
                                            </h5>
                                        </div>

                                        <div id="collapse-{{ course.id }}" class="collapse"
                                             aria-labelledby="{{ course.id }}"
                                             data-parent="#accordion-{{ faculty.id }}">
                                            <div class="card-body">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>واحد</th>
                                                        <th>تبت نام شده</th>
                                                        <th>استاد</th>
                                                        <th>کلاس</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>{{ course.unit }}</td>
                                                        <td>{{ course.students.count }}</td>
                                                        <td>{{ course.teacher.last_name }}</td>
                                                        <td>
                                                            {% for class in course.classroom.all %}
                                                                {{ class.name }}
                                                            {% endfor %}

                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </td>
                        <td>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>تعداد کلاس</th>
                                    <th>تعداد دانشجو</th>
                                    <th>تعداد استاد</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>{{ faculty.classroom_number }}</td>
                                        <td>{{ faculty.students_number}}</td>
                                        <td>{{ faculty.teachers_number}}</td>
                                    </tr>



                                </tbody>
                            </table>
                        </td>
                    </tr>

                    </tbody>
                </table>


            </div>


        </div>
    {% endfor %}










    {% comment %}    {% for faculty in faculties %}
        <h1 class="text-right">{{ faculty.name }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th>نام</th>
                <th>نام خنوادگی</th>
                <th>شماره دنشجویی</th>
            </tr>
            </thead>
            <tbody>
            {% for student in faculty.student_set.all %}
                <tr>
                    <td><a href="{% url 'student' student.id %}">{{ student.first_name }}</a> </td>
                    <td><a href="{% url 'student' student.id %}">{{ student.last_name }} </a> </td>
                    <td><a href="{% url 'student' student.id %}">{{ student.student_id }}</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3 class="text-right">دروس ارایه شده در این ترم</h3>
        <table class="table">
            <thead>
            <tr>
                <th>نام</th>
                <th>واحد</th>
                <th>استاد</th>
            </tr>
            </thead>
            <tbody>
            {% for course in faculty.course.all %}
                <tr>
                    <td><a href="{% url 'course' course.id %}">{{ course.name }}</a> </td>
                    <td><a href="{% url 'course' course.id %}">{{ course.unit }} </a> </td>
                    <td><a href="{% url 'course' course.id %}">{{ course.teacher }}</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}{% endcomment %}

{% endblock %}